.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh; 
}

#description,#place,#country, #temperature, #sunrise, #sunset, #today, #min, #windSpeed, #humidity {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 32px; 
  color: #333; 
}

header{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 32px; 
  color: #333; 
  font-weight: bolder;
  text-align:justify;
}



